{% extends "base.html" %}
{% load solution_filters %}
{% load comments %}

{% block title %}Woodrow Wilson Academy{% endblock %}

{% block content %}
<h1>{{ info.title }}</h1>
<h3>{{ info.category.first.infoClass }} - {{ info.occurrenceDate.date }}</h3>

    <p>{{ info.mainText | safe }}</p>
    <form class="barSelector">
    <h4>Which Learning Experience will you be working on in {{ baseinfo.category.first }} this week?</h4>
    <label>
   {{ form.learningExpoChoice }}
        </label>
    </form>
    <h3>Discussion</h3>
    {% get_comment_count for object as comment_count %}
    <div class="py-4 text-center">

  &nbsp;&sdot;&nbsp;
  {{ comment_count }} comment{{ comment_count|pluralize }}
  ha{{ comment_count|pluralize:"s,ve" }} been posted.
{% if comment_count %}
<hr/>
<div class="comments">
  {% render_comment_list for object %}
</div>
{% endif %}
    <div class="card card-block mb-5">
  <div class="card-body">
    <h4 class="card-title text-center pb-3">Post your comment</h4>
      {% render_comment_form for object %}
  </div>
</div>
</div>
{% endblock content %}