{% extends "base.html" %}
{% load solution_filters %}
{% load comments %}
{% load comments_xtd %}
{% load static %}

{% block title %}Woodrow Wilson Academy{% endblock %}

{% block content %}
<h1>{{ info.title }}</h1>
<h3>{{ info.category.first.infoClass }} - {{ info.occurrenceDate.date }}</h3>
    <div id="designJournalContainer">
    <div id="postedComments">
        <h2>Comments</h2>
    </div>
         <div id="djContent">
             <div class="djPrompts">{% for prompt in info.prompts.all %}
                 <h3>{{ prompt.question }}</h3>
                 <p>{{ prompt.response | safe }}</p>
             {% endfor %}</div>
            <div class="djLong"><p>{{ info.mainText | safe }}</p></div>
         </div>


    <div id="djEval">

        <div id="commentContainer">

        </div>
         <!-- <button onclick="loadList('{{ tree | safe }}')">Back</button> -->

    </div>
    </div>



{% endblock content %}
{% block javascript %}
 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" rel="prefetch"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://d3js.org/d3-array.v2.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
<script src="{% static "javascript/magic_comments.js" %}"></script>
<script type="text/javascript" >

    let commentMenu = document.getElementById("commentContainer")
    function hide() {
        commentMenu.style.display = "none"
    }
    document.onLoad = hide()
    let content = document.getElementById("djContent")
    //content.onclick = function () {
    //    addComment("commentContainer")
    //}
    document.onLoad = loadList({{ tree|safe }})
    document.onLoad = returnDefault({{ tree | safe }})
</script>
{% endblock javascript %}