{% extends "base.html" %}
{% load solution_filters %}
{% load comments %}
{% load comments_xtd %}
{% load static %}

{% block title %}Woodrow Wilson Academy{% endblock %}

{% block content %}
<h1>{{ info.title }}</h1>
<h3>{{ info.category.first.infoClass }} - {{ info.occurrenceDate.date }}</h3>
    <div id="designJournalContainer">
    <div id="postedComments">
        <h2>Comments</h2>
        {% for comment in existingComments %}
                {{ comment.comment }}
            {% endfor %}
    </div>
         <div id="djContent">
         <div id="addFeedback"><button onclick="showCommentContainer('flex')">Add Feedback</button><button onclick="hideThis('addFeedback')">Cancel</button></div>
         <form  method="POST" enctype="multipart/form-data" id="containerForm">
             <p id="label">{{ containerForm.comment.value }}</p>
             <div id="containerHide">{{ containerForm.comment }}{{ containerForm.baseInfo }} {{ containerForm.coordinates }}</div>

            <div id="containerFormButtons">
                <input type="submit" value="Submit" name="container">
                <input type="button" value="Cancel" name="cancel" onclick="hideThis('containerForm')">
            </div>
            {% csrf_token %}
        </form>
             <div class="djPrompts">{% for prompt in info.prompts.all %}
                 <h3>{{ prompt.question }}</h3>
                 <p>{{ prompt.response | safe }}</p>
             {% endfor %}</div>
            <div class="djLong"><p>{{ info.mainText | safe }}</p></div>
         </div>


    <div id="djEval">

            <button onclick="show(newFeedback)">Create New Feedback</button>
        <div id="newFeedback">
        <button onclick="backToComps('newFeedbackBtn')" class="backBtn"><</button><h3>New Feedback</h3>
        <div id="newFeedbackContent">

        <form  method="POST" enctype="multipart/form-data" id="stubForm">
            {{ qsForm }}
            <input type="submit" value="Submit" name="qStub">
            {% csrf_token %}
        </form>



        </div>

        </div>
        <div id="commentContainer">

        </div>
         <!-- <button onclick="loadList('{{ tree | safe }}')">Back</button> -->

    </div>
    </div>



{% endblock content %}
{% block javascript %}
 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" rel="prefetch"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://d3js.org/d3-array.v2.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
<script src="{% static "javascript/magic_comments.js" %}"></script>
<script type="text/javascript" >

    let commentMenu = document.getElementById("commentContainer")
    let newFeedback = document.getElementById("newFeedback")
    function hide() {
        commentMenu.style.display = "none"
        newFeedback.style.display = "none"
    }
    function show(element) {
        element.style.display = "flex"
    }
    document.onLoad = hide()
    let content = document.getElementById("djContent")
    //content.onclick = function () {
    //    addComment("commentContainer")
    //}
    document.onLoad = loadList({{ tree|safe }})
    document.onLoad = returnDefault({{ tree | safe }})
</script>
{% endblock javascript %}