{% extends "base.html" %}
{% load solution_filters %}
{% load comments %}
{% load comments_xtd %}
{% load static %}

{% block title %}Woodrow Wilson Academy{% endblock %}

{% block content %}
<h1>{{ learningModule.name }}</h1>
    <div class="learningObjectivesList">
    <ul class="challengeListObj">
        {% for learningObjective in learningObjectives %}
        <li class="challengeListObj" id="{{ learningObjective.id }}">{{ learningObjective.name }}-{{ learningObjective.number }}
                                </li>
        {% endfor %}
    </ul>
    </div>

    <div id="designJournalContainer">


        <div class="djPage" id="djPage-{{ section.id }}">
        {% for section in page.content.all %}

            {% if section.category is 2 %}
                <div class="attributedContent">
                    <div>{{ section.sectionContent | safe }}</div>
                    <div class="attributedTo">{{ section.attribution }}</div>
                </div>
            {% else %}
                <div class="pageSection">
                <div>{{ section.sectionContent | safe }}</div>
            </div>
            {% endif %}







                <div class="learningModulePromptsContainer">
                    {% for prompt in section.prompts.all %}
                        <div class="singlePrompt">{{ prompt.promptText | safe }}</div>
                    {% endfor %}
                 </div>
            <hr>



        {% endfor %}

            <a rel="next" href="{{ pages.get_next_by_pageNumber }}">Next</a>
            <button onclick="previous()" class="submitBtn">Back</button>
                <button onclick="{{ pages.next }}" class="submitBtn">Next</button>
        </div>





        <div class="pageSidebar">
            <button onclick="show(lmsidebar)">Message Coach</button>
            <button>Message Faculty</button>
            <form method="POST" enctype="multipart/form-data" class="lmSidebar" id="lmSidebar">
                {{ messageCoach }}
                <input type="submit" value="Submit" id="msgForm" name="msgForm">
                {% csrf_token %}
            </form>
            <hr>
            {% for comment in conversations %}
                <div class="LMcomment">
                {{ comment.creator }}
                {{ comment.dateCreated }}
                <p>{{ comment.messageText }}</p>
                </div>
            {% endfor %}
        </div>
</div>


{% endblock content %}
{% block javascript %}
 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" rel="prefetch"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://d3js.org/d3-array.v2.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
<script src="{% static "javascript/magic_comments.js" %}"></script>
<script type="text/javascript" >

    let index = 0
    let lmsidebar = document.getElementById("lmSidebar")
    function hide() {

        lmsidebar.style.display = "none"
    }
    document.onload = hide()
    function show(element) {
        element.style.display = "block"
    }
</script>
<script type="text/javascript" >



</script>
{% endblock javascript %}