{% extends "base.html" %}
{% load solution_filters %}
{% load comments %}
{% load comments_xtd %}
{% load static %}

{% block title %}Woodrow Wilson Academy{% endblock %}

{% block content %}
<h1>{{ learningModule.name }}</h1>


    <ul>
    {% for page in pages %}
       <h2><a href="learningmodule/{{ page.id }}">{{ page.name }}</a></h2>
    {% endfor %}

    </ul>



{% endblock content %}
{% block javascript %}
 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" rel="prefetch"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://d3js.org/d3-array.v2.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
<script src="{% static "javascript/magic_comments.js" %}"></script>
<script type="text/javascript" >
    document.onLoad = paginateDesignJournal(0)
    let index = 0
</script>
<script type="text/javascript" >



</script>
{% endblock javascript %}