
{% extends "base.html" %}

{% load django_tables2 %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load static %}



{% block title %}Woodrow Wilson Academy: Competency Tracker{% endblock %}

{% block content %}
    <p id="test">{{ d3RubricLines }}</p>
    <form action=""  method="get">
        {{ userWorkForm }}
        <input type="submit" value="change student">
    </form>
    <div id="chart">

    </div>


{% endblock content %}

{% block javascript %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" rel="prefetch"></script>
    <script type="text/javascript" src="{% static "javascript/visualizations.js" %}"></script>
    <script type="text/javascript" >
        $(window).on("load", function () {

            createGraph({{rubricLines | safe}}, "chart")
        })
    </script>
{% endblock javascript %}