
{% extends "base.html" %}
{% load django_tables2 %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}



{% block title %}Woodrow Wilson Academy{% endblock %}

{% block content %}
    <table style="border: 1px solid black">
{% for challengeS in challengeStatus %}
    <tr>
    <td style="padding: 2pt; border: 1px solid black">{{ challengeS }}</td>
        {% for s in challengeS.solutionStatusByInstance.all %}
        <td style="padding: 2pt; border: 1px solid black">{{ s.solutionInstance }}</td>
            {% endfor %}
    </tr>
    {% endfor %}
    </table>
{% endblock content %}
