
{% extends "base.html" %}
{% block title %}Woodrow Wilson Academy{% endblock %}

{% block content %}

            {{ formset.management_form }}
        <div class="centralDispatch">
            {% for challenge in challenges %}
                <h2>{{ challenge.name }}</h2>
                {% for form in formset %}
                    {% if form.instance.solutionInstance in challenge.solutions.all %}
                        <div class="dispatchBox">
                            <h3>{{ form.instance.solutionInstance }}</h3>
                            <p>{{ form.automate.label }} {{ form.automate }}</p>
                            <p>Method of Solution Distribution: {{ form.routerChoices }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
                {% csrf_token %}
        </div>



{% endblock content %}
