
{% extends "base.html" %}
{% load static %}
{% block title %}Woodrow Wilson Academy{% endblock %}

{% block content %}
        <script type="text/javascript" src="{% static "javascript/template_functions.js" %}">$("textarea, select, input").change(autoSave());</script>


            {{ solutionRouterFormset.management_form }}
        <p>{{ solutionRouterFormset.errors }}</p>
        <div class="centralDispatch">
            <input type="submit">
            {% for megaChallenge in challenges %}
                <h1>{{ megaChallenge.name }}</h1>
                <div class="megaChallengerWrapper">
                    {% for challenge in megaChallenge.challenge_set.all %}
                        <div class="challengeWrapper">
                            <h2>{{ challenge.name }}</h2>
                                {% for form in solutionRouterFormset %}
                                    {% if form.instance.solutionInstance in challenge.solutions.all %}
                                        <div class="dispatchBox">
                                        {{ form.errors }}{{ form.non_field_errors }}
                                            <h3>{{ form.instance.solutionInstance }} {{ form.automate }}</h3>

                                            <p>Method of Solution Distribution: {{ form.routerChoices }}</p>
                                        </div>
                                        {{ form.id }}{{ form.name }}
                                    {% endif %}
                                {% endfor %}</div>
                    {% endfor %}
                </div>
                <hr>
                <br>

            {% endfor %}
                {% csrf_token %}
        </div>

    </form>
    <script>
        function challengeNavShow (challenge) {
            let elementID = document.getElementById(challenge);
            $(elementID).toggle(150);
        }

        function activeExpo (expo) {
            let activeExpo = document.getElementById("active"+ expo);
            $(activeExpo).addClass("activeLearningExpo");
        }
        window.onLoad = challengeNavShow({{ learningExpo.challenge.pk }}), activeExpo({{ learningExpo.pk }});
</script>


{% endblock content %}
