{% extends "base.html" %}

{% block title %}
Reset your password
{% endblock %}

{% block content %}
<h1>Reset your password</h1>
    <p>Please enter your new password twice:</p>
    {% if validlink %}
    <form action="." method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Change my password" /> </p>
    </form>
    {% else %}
    <p>This password reset link is invalid, possibly because it's already been used.
        If you believe this is an error, please contact support.</p>
    {% endif %}
{% endblock %}