@import url(https://fonts.googleapis.com/css?family=Dosis|Oswald);

.challengeListEntry {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.megaChallengerWrapper {
    display: flex;
    flex-direction: row;

}

.challengeWrapper {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-right: 10pt;
}

.dispatchBox {

}

.dispatchBox h3 input {
    float: none;
    clear: none;
    margin-left: 5pt;
}

.flexList {
    display: flex;
    flex-direction: column;
}

.flexList h3::before {
    margin-top: 12pt;
}

.flexList h3 {
    margin: 10pt;
    background-color: #00ad9c;
    color: #ffffffff;
}

.flexList:nth-child(odd) {
    background-color: #00ad9c;
}

.flexListMember {
    display: flex;
    flex-direction: row;
}



.flexListSubMember label{
    border-radius: unset;
    background-color: unset;
    color: unset;
    font-weight: 600;
}

.challengeSubEntry {
    padding: 2pt;
}

.challengeSubEntry img {
    padding-right: 12pt;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
}

.sticky h1 {
    font-size: 18pt;
}

.solutionNav {
    position: sticky;
    top: 0;
    text-align: left;
    height: fit-content;
    width: fit-content;
    border-left: 2pt solid lightgray;
    margin: 1em .25rem;
    padding: 0 6pt 2pt;
}

.savedBanner {
    position: sticky;
    top: 0;
    background-color: #f5dd5d;
    color: #FFFFFF;
    text-align: center;
}

.solutionNav ul {
    list-style: none;
    margin: 0;
    padding: 2pt 0;
}

.solutionNav li {
    margin: 10pt 0;
}

.solutionNav li:first-child {
    margin: 0 0 6pt;
}

.solutionNav li:last-child {
    margin: 6pt 0 0;
}

.solutionNav h3 {
    margin-top: 0;
}

.infoBar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.infoBarSub {
    margin: 2pt 16pt 2pt 0;
}

.infoBarSub h1 {
    margin: 0;
    border-bottom: none;
}

.learningObj_list {
    padding: 0 0 0 10pt;
}

.learningObj_list p {
    padding: unset;
    font-size: 105%;
}

.colorCodePink {
    border-left: 9px solid #FF7BAC;
    margin: 0 0 0 -9px;
    padding: 0 0 0 9px;
}

.colorCodeGreen {
    border-left: 9px solid #81ce81;
    margin: 0 0 0 -9px;
    padding: 0 0 0 9px;
}

.colorCodeDefault {
    border-left: 9px solid #EEEEEE;
    margin: 0 0 0 -9px;
    padding: 0 0 0 9px;
}

.evalFieldFlexContainer {
    display: flex;
    flex-flow: row wrap;
}

.evalFieldFlexBox {
    background-color: #efefef;
    margin: 12px 6px;
    padding: 10px;
    justify-content: center;
    min-height: 100px;
    width: 45%;
}

.evalField h3 {
    font-size: 18pt;
    font-weight: 400;
    color: white;
    padding-left: 6px;
    background-color: #00a497;
}

.evalField h4 {
    font-size: 14pt;
    font-weight: 400;
    margin: 4pt 6pt 6pt 0;
}

.evalField ul p {
    font-weight: bold;
    margin-top: 0px;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

.framingFeedback {
    list-style: none;
}

.framingFeedback li {
    list-style: none;
}

.evalField ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.evalField ul li{
    flex: 1;
    background-color: #efefef;
    margin: 6px;
    padding: 3px;
    justify-content: center;
    display: inline-block;
    min-height: 100px;
    list-style: none;
}

.completionLevel {
    padding: 10px;
    margin: 12px 0 24px 6px;
    background-color: #003469;
    border-radius: 0 14px 14px 0;
    font-weight: bolder;
    color: #ffffff;
    display: inline-block;
}

.scoreBubble{
    border-radius: 90px;
    background-color: white;
    color: #00a497;
    padding: 6px;
}

.rubricField li {
    display: inline-block;
}

.rubricField ul {
    padding-left: 6px;
    margin-bottom: 44px;
}

.rubricField h3 {
    font-size: 18pt;
    font-weight: 400;
    color: white;
    padding-left: 6px;
    background-color: #00a497;
}


.expoWrapper {
    display: flex;
    flex-direction: row;
}

.expoVertWrapper {
    display: flex;
    flex-direction: column;
}

.expoVertWrapper h1 {
    border-bottom: none;
}

.learningExpoList {
    background-color: #efefef;
    min-width: 200px;
    height: fit-content;
}

.multiChallengeNav .learningExpoList {
    margin-bottom: 1em;
}

.challengeSubNav {
    display: none;
}

.learningExpoList li {
    list-style: none;
    margin: 6pt 0;
    padding: 0 1.5rem;
}

.learningExpoList h3 {
    text-align: center;
}

.solutionUpload {
    background-color: #f5dd5d;

    font-weight: 600;
}

.solutionUpload a {
    color: #000;
}

.learningExpoList ul {
    padding: 0;
}

.expoResources {
    font-weight: 600;
    padding: 10px;
    flex-wrap: wrap;
}

.resourcesWrapper {
    display: flex;
    flex-direction: row;
    margin: 2pt;
}

.activeLearningExpo {
    background-color: #003469;
    color: #000;
}

.activeLearningExpo a {
    color: #FFFFFF;
    font-weight: 600;
}

.learningExpoDesc {
    width: 85%;
    min-width: 600px;
    min-height: calc(100vh - 10vh);
}

.challengeListObj {
    padding: 0;
}

.challengeListObj ul {

    border-bottom: 1px solid #003469;
    width: 85%;
    padding: 0;
}

.challengeListObj li {
    display: inline-block;
    background-color: #efefef;
    box-shadow: 1px 1px #bbbbbb;
    border-radius: 12px;
    padding: 2px 6px;
    font-size: 10pt;
    color: #003469;
    margin: 1pt;
}

.compFlexContainer {
    display: flex;
    flex-flow: row wrap;
}

.competencyPod {
    background-color: #EEEEEE;
    margin: 1em ;
    width: 400px;
}

.competencyPod h3 {
    font-weight: 500;
    color: #FFFFFF;
    background-color: #00A495;
    padding: .5em 2em .5em .5em;
    margin: 0 0 0 -13px;
    box-shadow: 1px 3px 1px 0 #7f8b85;
    font-size: 125%;
    letter-spacing: 1px;
}

.competencyCompletion{
    height: 12pt;
    background-color: #7f8b85;
    font-weight: 500;
    color: #FFFFFF;
    margin: 0 0 0 -13px;
    box-shadow: 1px 3px 1px 0 #7f8b85;
    font-size: 75%;
    letter-spacing: 1px;
}

.competencyStarted{
    height: 12pt;
    background-color: #FF7BAC;
    font-weight: 500;
    color: #FFFFFF;
    margin: 0 0 0 -13px;
    box-shadow: 1px 3px 1px 0 #7f8b85;
    font-size: 75%;
    letter-spacing: 1px;
}

.competencyComplete{
    height: 12pt;
    background-color: #81ce81;
    font-weight: 500;
    color: #FFFFFF;
    margin: 0 0 0 -13px;
    box-shadow: 1px 3px 1px 0 #7f8b85;
    font-size: 75%;
    letter-spacing: 1px;
}

.competencyCompletion .competencyComplete .competencyStarted, p {
    line-height: 1.8;
    padding: 0;
    margin: 0
}

.competencyPod h4 {
    border-bottom: 1px solid #bbb;
}

.competencyPodContent {
    padding: .5em;
}

.headerBottom {
}

.searchForm{
    display: flex;
    flex-direction: row;
}

body {
    margin:0;
    padding:0;
    font-family: 'Dosis', sans-serif;
}

p {
    line-height: 1.8;
    padding: .25rem 0 .25rem;
}

a {
    color:#00a497;
    text-decoration:none;
}

a:hover {
    color:#12c064;
}

h1, h2, h3, h4, h5 , h6 { font-family: 'Oswald', sans-serif; font-weight:normal; }

h1 {
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
    margin:10px 0 20px 0;
}

h2 {
    margin:30px 0 20px;
}

ol {
    line-height:1.5;
}

#header {
    padding:20px 100px;
    font-size:14px;
    background:#003469;
    color:#fff;
    border-bottom:12px solid #00a497;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.2);
    overflow:auto;
}

#header .logo {
    font-family: 'Oswald', sans-serif;
    float:left;
    color:#ffffff;
    font-size:3em;
    margin-right:10%;
    letter-spacing: -2px;
}

#header ul.menu {
    list-style:none;
    float:left;
    padding:0;
}
#header ul.menu li {
    float:left;
    padding:4px 10px;
    font-size: 15pt;
    letter-spacing: 0.5px;
}

#header ul.menu li.selected a, #header ul.menu li.selected a:hover {
    color:#1b6d32;
    font-weight:bold;
}

#header a {
    color:#f3f7cc;
}
#header a:hover {
    color:#fff;
}

#header .user {
    float:right;
    padding-top:4px;
}

#content {
    padding:30px 100px;
    width: 88%;
    margin: auto;
}



/* forms */
form {
    overflow:auto;
}

form p {
    width:100%;
    overflow:auto;
}

label {
    float:left;
    clear:both;
    color: #fff;
    font-weight: 500;
    padding: 4pt;
    margin: 0 0 0 2pt;
    border-radius: 4pt 4pt 0 0;
    background-color: #00a497;
    max-width: 90%;
}

input, textarea {
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#efefef;
    border:0;
    padding:6px 10px;
    font-size:14px;
}
input[type=submit], a.button {
    background:#003469;
    color:#fff;
    padding:10px;
    font-size:12px;
    text-transform:uppercase;
    border-radius: 2pt;
}
input:hover[type=submit], a.button {
    font-weight:bold;
    color: #003469;
    background:#f3f7cc;
    cursor: pointer;

}
input[type=button], a.button {
    background:#003469;
    color:#fff;
    padding:10px;
    font-size:12px;
    text-transform:uppercase;
    border-radius: 2pt;
}

input:hover[type=button], a.button {
    font-weight:bold;
    color: #003469;
    background:#f3f7cc;
    cursor: pointer;

}

.errorlist {
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px;
}
.helptext {
    margin:0 0 20px 0;
    color:#aaa;
    clear:both;
    float:left;
    font-size:13px;
}
/* messages */
ul.messages {
    margin:10px 100px;
    padding:0;
    list-style-type:
    none;
}
ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    margin:0;
    padding:14px 20px;
    list-style:none;
    color:#fff;
}

ul.messages li.success { background:#81ce81; }
ul.messages li.success a { color:#0ac33e; }

ul.messages li.error { background:#a30029; color:#e9828e; }
ul.messages li.error a { color:#e9828e; }

ul.messages li.info { background:#faffae; color:#696b4e; }
ul.messages li.info a { color:#1586de; }

ul.messages li.warning { background:#de9404; }
ul.messages li.warning a { color:#f49000; }

ul.messages li a.close {
    margin:0;
    float:right;
    opacity:1;
    border:0;
    box-shadow:none;
    text-shadow:none;
}

.login-form {
    float:left;
}

/* social-auth */
.social {
    float:right;
}
.social li {
    list-style:none;
    padding:10px 20px;
    margin:0 0 10px 0;
}
.social li a {
    width:100%;
    height:100%;
    display:block;
    color:#fff;
}
.social li.facebook { background:#3b5399; }
.social li.twitter { background:#00cffa; }
.social li.google { background:#de1710; }


/* images */

.image-preview, .image-detail {
    max-width:300px;
    float:left;
    margin:0 20px 20px 0;
}
.image-detail { margin-top:20px; }
.image-info div {
    padding:20px 0;
    overflow:auto;
}
.count {
    color:#aaa;
    border:3px solid #bbb;
    border-radius:26px;
    padding:10px 20px;
    margin:20px 10px 0;
}
a.like, a.follow { float:right; margin-top:-8px; }

#image-list { overflow:auto; }
#image-list .image {
    float:left;
    width:220px;
    height:300px;
    margin:0 10px 10px 10px;
    border-top:8px solid #12c064;
    background:#eee;
}
#image-list img { width:220px; height:220px; }
#image-list .info { padding:10px; }
#image-list .info a { color:#333; }
.image-likes div {
    float:left;
    width:auto;
    padding:10px;
    text-align:center;
}
.image-likes img {
    width:120px;
    height:120px;
    border-radius:50%;
}

.center-things {
    margin: auto;
    width: 65%;
}

/* users */
#people-list img {
    width:180px;
    height:180px;
    border-radius:50%;
    margin-bottom:20px;
}
#people-list .user {
    width:180px;
    float:left;
    overflow:auto;
    padding:10px;
}
#people-list .info { text-align:center; }
img.user-detail {
    border-radius:50%;
    float:left;
}
.profile-info {
    float:left;
    overflow:auto;
    margin-right:20px;
}
.image-container { margin-top:40px; }

/* actions */
.action {
    clear:both;
    overflow:auto;
}
.action .images {
    float:left;
    margin:0 10px 10px 0;
}
.action .date {
    font-style:italic;
    color:#ccc;
}

.slidecontainer {
  width: 80%; /* Width of the outside container */

}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 96%; /* Full-width */
  height: 15px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
    opacity: 0.7;
    border-radius: 3px;

}

/* Mouse-over effects */
.slider:hover::-webkit-slider-thumb {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 45px; /* Slider handle height */
  background: #003469;
  cursor: pointer; /* Cursor on hover */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 45px; /* Slider handle height */
  background: #003469;
  cursor: pointer; /* Cursor on hover */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.readyTick {
    height: 45px;
    width: 2px;
    background-color: #003469;
    margin-left: 48%;
    margin-top: 22px;
}

.vertSlider {
    -webkit-appearance: slider-vertical;

    width: 12px; /* Full-width */
    height: 25%; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7;
    border-radius: 3px;
}

.vertSlider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  width: 25px; /* Set a specific slider handle width */
  height: 45px; /* Slider handle height */
  background: #003469;
  cursor: pointer; /* Cursor on hover */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.vertSliderContainer {
    position: fixed;
    top: 100px;
    right: 24px;
    background-color: #efefef;
    padding: 12px;
    text-align: center;
    display: none;

}

.vertSliderContainer h3
{
    font-weight: bolder;
    color: #00a497;
    margin-top: 0;
}

.multiChallengeNav {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    height: fit-content;
}





#progressContainer {
    height: 100px;
    background-color: #ffffff;
    position: relative;
}

#progressBar {
    height: 1%;
    width: 100%;
    background-color: #003469;
    position: absolute;
    bottom: 0;
}

/* Challenge Cover sheet styling */

.critList {
    display: none;
}

.pullQuote {
    background-color: #f5dd5d;
    text-align: center;
    min-height: 8em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pullQuote h2 {
    font-size: 200%;
    color: #444444;
    width: 100%;
}

.coverSheet h1 {
    font-size: 350%;
    font-style: italic;
}

.coverSheetTitleContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    height: fit-content;
}

.coverSheetTitle {
    display: block;
    width: 90%;
}

.challengeGroup {
    background-color: #f5dd5d;
    width: 8em;
    height: 8em;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.challengeGroup h2 {
    margin: 0;
    font-size: 300%;
    padding: 0;
}

.challengeGroup p {
    padding: 0;
    font-variant: all-small-caps;
}

.course-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sub-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.course-content-box {
    background-color: #e1e6ed;
    margin: 1em .25rem;
    padding: 0 6pt 12pt;
    border-radius: 1pt;
    border: solid 6pt #bdc2c9;
}

.solution-content-box {
    background-color: #e1e6ed;
    margin: 1em .25rem;
    padding: 0 6pt 12pt;
    border-radius: 1pt;
    border: solid 6pt #bdc2c9;

    min-width: 300px;
}

.circleField-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 3pt;
    border: dashed 1px #7f8b85;
    margin: 12pt;
    padding: 6pt;
}

.circleField {
    width: 30%;
    font-size: 110%;
}

.circleField p {
    alignment: center;
}

.challengeOverview {
    background-color: #7f8b85;
    margin: 1em 2em;
}

.standardSolution {
    background-color: #7f8b85;
    margin: 1em;
}

.learningObjectives {
    background-color: #7f8b85;
    margin: 1em;
}

.solutionBounds {
    background-color: #7f8b85;
    margin: 1em;
}

.clinicialNeeds {
    background-color: #7f8b85;
    margin: 1em;
}

.prereq {
    background-color: #7f8b85;
    margin: 1em;
}

.learningExpoResponseFlex {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    width: 90%;
    padding: 12pt;
    margin: 0 2pt 24pt;
    resize: none;
    border: 1px solid #00a497;
    border-top: 12pt solid #00a497;
    border-radius: 0 4pt 4pt 4pt;
}

.learningExpoResponseBox {
    margin: 1em;
    padding: 12pt;
    border-right: 1pt solid #00a497;
    width: 11%;
    min-width: 8em;
}

.previousExamples {
    list-style: none;
}

.previousExamplesEntry {
    margin: 2em auto 0;
    border: 2pt solid #00a497;
    padding: 0 12pt 12pt;
    border-radius: 4pt;
}

textarea {
    width: 90%;
    padding: 12pt;
    margin: 0 2pt 24pt;
    resize: none;
    border: 1px solid #00a497;
    border-top: 12pt solid #00a497;
    border-radius: 0 4pt 4pt 4pt;
    background-color: #ebebeb;
}

input[type=text] {
    width: 50%;
    margin: 0 2pt 24pt;
    border: 1px solid #00a497;
    border-radius: 0 4pt 4pt 4pt;
}