{% extends "base.html" %}
{% load static %}


{% block title %}Dashboard{% endblock %}

{% block content %}

    <img src="{{ request.user.profile.photo.url }}"><h1>Dashboard</h1>
    <p>Welcome to your dashboard, {{ request.user.first_name }}</p>

    {% if request.user.profile.role == 1 %}
    <p>View your submitted solutions here: <br>
    <a href="solutions">User Solutions</a></p>
    {% endif %}

    {% if request.user.profile.role != 1 %}
    <p>Teaching Candidates submissions<br>
    <a href="solutions">Submitted Solutions</a></p>
    {% endif %}

    <p>View your evaluated solutions here: <br>
    <a href="evals">Evaluated Solutions</a></p>

{% endblock %}