
<!DOCTYPE html>
{% load static %}
{% load solution_filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">

</head>
<body>
    <div id="header">
    <div class="headerBottom">
        <span class="logo">WWA</span>
        {% if request.user.is_authenticated %}
        <ul class="menu">
            <li {% if section == "dashboard" %}class="selected"{% endif %}>
            <a href="/dashboard">My Dashboard</a>
            </li>
            <li {% if section == "challenges" %}class="selected"{% endif %}>
            <a href="/">Challenges</a>
            </li>
            <li {% if section == "competency" %}class="selected"{% endif %}>
            <a href="/competency">Competency</a>
            </li>
            <li {% if section == "discussion" %}class="selected"{% endif %}>
            <a href="http://discourse.wwa-lms.org">Discussion</a>
            </li>

        </ul>
        {% endif %}

    <span class="user">
        {% if request.user.is_authenticated %}
            Hello {{ request.user.first_name }},
            <a href="{% url "logout" %}">Logout</a><br>
            {% if request.user.is_staff %}<a href="admin">Edit Site</a>{% endif %}
        {% else %}
            <a href="{% url "login" %}">Log-in | </a>
            <a href="{% url "register" %}">Register</a>
        {% endif %}
    </span>
    </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>