{% extends "base.html" %}

{% block title %}
{{ challengeCover.name }}
{% endblock %}

{% block content %}
    <h1>{{ challengeCover.name }}</h1>
    <div>
        <h2>{{ challengeCover.pullQuote }}</h2>
    </div>


    <h3>Challenge Overview</h3>
        <p>{{ challengeCover.description | safe }}</p>

    <div class="learningObjectives">
        <h3>Learning Objectives</h3>
        {% for competency in competencies %}
            <div class="competencies">
                <p><strong>{{ competency.compGroup }} - {{ competency.compNumber }} {{ competency.name }}</strong></p>
                {% for learningObjective in learningObjectives %}
                    {% if learningObjective.compGroup == competency.compGroup and learningObjective.compNumber == competency.compNumber %}
                        <p>{{ learningObjective.loNumber }}: {{ learningObjective.name }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        <div class="standardSolution">
            <h3>Standard Solution</h3>
            <p>{{ challengeCover.standardSolution | safe }}</p>
        </div>
        <div class="solutionBounds">
            <h3>Solution Bounds</h3>
            <p>{{ challengeCover.degreeImplementation }}</p>
            <p>{{ challengeCover.scaleImplementation }}</p>
            <p>{{ challengeCover.typeImplementation }}</p>
        </div>
        <div class="clinicalNeeds">
            <h3>Clinical Needs</h3>
            <p>{{ challengeCover.clinicalNeeds | safe }}</p>
        </div>
    </div>
{% endblock %}