{% extends "base.html" %}

{% block title %}
{{ challenge.name }}
{% endblock %}

{% block content %}

<h1>{{ challenge }}</h1>

<h2>Learning Objectives</h2>
    <ul class="challengeListObj">
        {% for learningObjective in learningObjectives_list %}
                <li class="challengeListObj"><strong>{{ learningObjective.compGroup }}-{{ learningObjective.compNumber }}
                    .{{ learningObjective.loNumber }}</strong>
                {{ learningObjective.name }}</li>
        {% endfor %}
    </ul>
    <p>Tags:</p>
    <ul class="challengeListObj">
        {% for tag in challenge.tags.all %}
            <li class="challengeListObj">{{ tag.name }}</li>
        {% endfor %}
    </ul>
<div>
    {% if submitted %}
    <p>Solution successfully submitted</p>

    {% else %}
        <h2>Solution Upload</h2>
        <form action="" method="post" enctype="multipart/form-data">

                {{ form.management_form }}

            
                {% for form in form %}
                    <p>{{ form.userOwner }}{{ form.challengeName }}</p>
                    <p>
                        <label>{{ form.solution.label }}</label>
                        {{ form.solution }}
                    </p>

                    <label>{{ form.goodTitle.label }}</label>
                    <p>{{ form.goodTitle }}</p>

                    <label>{{ form.workFit.label }}</label>
                    <p>{{ form.workFit }}</p>

                    <label>{{ form.proudDetail.label }}</label>
                    <p>{{ form.proudDetail }}</p>

                    <label>{{ form.hardDetail.label }}</label>
                    <p>{{ form.hardDetail }}</p>

                    <label>{{ form.objectiveWell.label }}</label>
                    <p>{{ form.objectiveWell }}</p>

                    <label>{{ form.objectivePoor.label }}</label>
                    <p>{{ form.objectivePoor }}</p>

                    <label>{{ form.personalLearningObjective.label }}</label>
                    <p>{{ form.personalLearningObjective }}</p>

                    {{ feedbackForm.management_form }}
                    <div>
                        {% for LearningExpoResponses in feedbackForm %}
                            <p id="learnExpo{{ LearningExpoResponses.learningExperience.auto_id }}"> </p>
                            <span style="display: none">{{ LearningExpoResponses.learningExperience }}</span>

                            <p>{{ LearningExpoResponses.user }}</p>

                            <label>{{ LearningExpoResponses.learningExperienceResponse.label }}</label>
                            <p>{{ LearningExpoResponses.learningExperienceResponse }}</p>

                            {{ LearningExpoResponses.id }}
                            <script>
                                var options = document.getElementById("{{ LearningExpoResponses.learningExperience.auto_id }}");
                                var selectedText = options.options[options.selectedIndex].text;
                                document.getElementById("learnExpo{{ LearningExpoResponses.learningExperience.auto_id }}").innerHTML = selectedText;
                            </script>
                        {% endfor %}
                    </div>

                    <label>{{ form.helpfulLearningExp.label }}</label>
                    <p>{{ form.helpfulLearningExp }}</p>

                    <label>{{ form.notHelpfulLearningExp.label }}</label>
                    <p>{{ form.notHelpfulLearningExp }}</p>

                    <label>{{ form.changeLearningExp.label }}</label>
                    <p>{{ form.changeLearningExp }}</p>

                    <label>{{ form.notIncludedLearningExp.label }}</label>
                    <p>{{ form.notIncludedLearningExp }}</p>
                    {{ form.id }}
                {% endfor %}


            <input type="submit" value="Upload Solution">
        {% csrf_token %}

        </form>
        <p>{{ form.non_field_errors }}</p>
        <p>{{ feedbackForm.non_field_errors }}</p>
        {% if feedbackForm.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <p> {{ error }} </p>
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endif %}
</div>

{% endblock %}