{% extends "base.html" %}

{% block title %}
{{ challenge.name }}
{% endblock %}

{% block content %}

<h1>{{ challenge.name }}</h1>

<h2>Learning Objectives</h2>
    <ul class="challengeListObj">
        {% for learningObjective in learningObjectives_list %}
                <li class="challengeListObj"><strong>{{ learningObjective.compGroup }}-{{ learningObjective.compNumber }}
                    .{{ learningObjective.loNumber }}</strong>
                {{ learningObjective.name }}</li>
        {% endfor %}
    </ul>
<div>


    {% if submitted %}
    <p>Solution successfully submitted</p>

    {% elif file_exists %}
        <h2>{{ file_exists.userOwner.first_name }}'s Solution</h2>
        <a href="{{ file_exists.solution|safe }}" target="_blank">{{ file_exists.solution|safe }} </a>

    {% else %}
        <h2>Solution Upload</h2>
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <table>
                {{ form.management_form }}
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td><input type="submit" value="Upload Solution"></td>
                </tr>
            </table>
        </form>
    {% endif %}
</div>

{% endblock %}