{% extends "base.html" %}
{% load solution_filters %}

{% block title %}
{{ challengeCover.name }}
{% endblock %}

{% block content %}
<div class="coverSheet">
    <div class="coverSheetTitleContainer">
        <div class="coverSheetTitle">
            <h1>{{ challengeCover.name }}</h1>
        </div>
        <div class="challengeGroup">
            group
            <h2>{{ challengeCover.challengeGroupChoices }}</h2>
        </div>
    </div><!-- coverSheetTitleContainer -->

    <div class="pullQuote">
            <h2>{{ challengeCover.pullQuote }}</h2>
    </div> <!-- pullQuote -->

    <div class="course-content-container">

        <div class="course-content-box">
            <h3>Challenge Overview</h3>
            <p>{{ challengeCover.description | safe }}</p>
        </div>

        <div class="course-content-box">
            <h3>Learning Objectives</h3>
            {% for competency in competencies %}
                <div class="competencies">
                    <p><strong>{{ competency.compGroup }} - {{ competency.compNumber }} {{ competency.name }}</strong></p>
                    {% for learningObjective in learningObjectives %}
                        {% if learningObjective.compGroup == competency.compGroup and learningObjective.compNumber == competency.compNumber %}
                            <div class="learningObj_list"><p>{{ learningObjective.loNumber }}: {{ learningObjective.name }}</p></div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <!-- <div class="course-content-box">
            <h3>Standard Solution</h3>
            <p>{{ challengeCover.standardSolution | safe }}</p>
        </div> -->

    </div>
    <div class="course-content-box">
        <h3>Clinical Needs</h3>

        <p>{{ challengeCover.clinicalNeeds | safe }}</p>
    </div>


    <div>
        <input type="button" onclick='window.location.href="/learningExperience/{{ next }}";' value="Next">
    </div>
</div>

{% endblock %}