{% extends 'base.html' %}

{% block title %}
Evaluate a Challenge
{% endblock %}

{% block content %}

<h1>Coaching Review</h1>

        <form action=""  method="post" enctype="multipart/form-data">
            {{ formset.management_form }}
            {% for rubricLine in rubricLines %}
                    <div class="evalField">
                        <h3>{{ rubricLine.learningObjective }}</h3>
                        <div class="evalFieldFlexContainer">
                            <div class="evalFieldFlexBox"><h4>Evidence Present
                            </h4><p>{{  rubricLine.evidencePresent }}</p></div>
                            <div class="evalFieldFlexBox"><h4>Evidence Missing
                            </h4><p>{{  rubricLine.evidenceMissing }}</p></div>
                            <div class="evalFieldFlexBox"><h4>Suggestions
                            </h4>{{  rubricLine.suggestions }}</div>
                            <div class="evalFieldFlexBox"><h4>Feedback
                            </h4><p>{{  rubricLine.feedback }}</p></div>
                        </div>

                        {% for form in formset %}

                            <div class="rubricField">
                                {% if form.rubricLine.value == rubricLine.pk %}
                                    <uL>
                                    {{ form.rubricLine }}{{ form.evaluator }}
                                        <li>{{ form.release.label }}{{ form.release }}</li>
                                        <li>{{ form.comment.label }}{{ form.comment }}</li>
                                    </uL>
                                {% endif %}
                            </div>
                            {{ form.id }}
                        {% endfor %}
                    </div>
            {% endfor %}

        {% csrf_token %}
        <input type="submit" value="Submit">

    </form>
{% endblock %}