{% extends 'base.html' %}

{% block title %}
Evaluate Challenge {{ finalRubric.challenge.name }}
{% endblock %}

{% block content %}

<h1>Coaching Review - {{ finalRubric.challenge.name }}</h1>
    <h2>Evaluator: {{ finalRubric.evaluator.first_name }} {{ finalRubric.evaluator.last_name }}</h2>
    <p>Submitted: {{ finalRubric.evaluator }}</p>
    <h3>General Feedback</h3>
    <p>{{ finalRubric.generalFeedback|safe }}</p>
        <form action=""  method="post" enctype="multipart/form-data">


            {% for rubricLine in rubricLines %}
                <div class="evalField">
                    {{ formset.management_form }}
                    <h3>{{ rubricLine.learningObjective }}</h3>

                    {% for form in rFormset %}
                        {% if form.learningObjective.value == rubricLine.learningObjective.pk %}
                            {{ form.learningObjective }}{{ form.student }}{{ form.needsLaterAttention }}{{ form.completionLevel }}{{ form.ignore }}
                            <div class="evalFieldFlexContainer">
                                <label>{{ form.evidencePresent.label }}</label>
                                <p>{{ form.evidencePresent }}</p>
                            </div>
                            <div class="evalFieldFlexContainer">
                                <label>{{ form.evidenceMissing.label }}</label>
                                <p>{{ form.evidenceMissing }}</p>
                            </div>
                            <div class="evalFieldFlexContainer">
                                <label>{{ form.feedback.label }}</label>
                                <p>{{ form.feedback }}</p>
                            </div>
                            <div class="evalFieldFlexContainer">
                                <label>{{ form.suggestions.label }}</label>
                                <p>{{ form.suggestions }}</p>
                            </div>
                            {{ form.id }}
                        {% endif %}

                    {% endfor %}

                    <!-- <div class="evalField">
                        <h3>{{ rform.learningObjective.auto_id }}</h3>
                        <div class="evalFieldFlexContainer">
                            <div class="evalFieldFlexBox"><h4>Evidence Present
                            </h4><p>{{  rform.evidencePresent }}</p></div>
                            <div class="evalFieldFlexBox"><h4>Evidence Missing
                            </h4><p>{{  rform.evidenceMissing }}</p></div>
                            <div class="evalFieldFlexBox"><h4>Suggestions
                            </h4>{{  rform.suggestions }}</div>
                            <div class="evalFieldFlexBox"><h4>Feedback
                            </h4><p>{{  rform.feedback }}</p></div>
                        </div> -->
                    {{ rFormset.management_form }}
                    {% for rForm in formset %}
                        {{ rForm.errors }}
                        <div class="rubricField">
                            {% if rForm.rubricLine.value == rubricLine.pk %}

                                <uL>
                                {{ rForm.rubricLine }}{{ rForm.evaluator }}
                                    <li>{{ rForm.release.label }}{{ rForm.release }}</li>
                                    <li>{{ rForm.comment.label }}{{ rForm.comment }}</li>
                                </uL>
                                {{ rForm.id }}
                            {% endif %}
                        </div>

                    {% endfor %}
                    </div>
            {% endfor %}

        {% csrf_token %}
        <input type="submit" value="Submit">

    </form>
{% endblock %}