{% extends "base.html" %}

{% block title %}
{{ usersolution.userowner }}
{% endblock %}

{% block content %}

    <h1>{{ usersolution.challengeName }}</h1>
<p>Submitted by {{ usersolution.userOwner }}</p>

    {% if userRole == 4 or 3 %}
    <a href="/solutionEval/{{ usersolution.id }}">Edit</a>
    {% endif %}
    {% for rubricLine in evaluation %}

        <div class="evalField">
        <h3>{{ rubricLine.learningObjective }}</h3>
        <ul style="width: 100%">
            <li style="width: 30%"><p>Evidence Present
            </p>{{  rubricLine.evidencePresent }}</li>
            <li style="width: 30%"><p>Evidence Missing
            </p>{{  rubricLine.evidenceMissing }}</li>
            <li style="width: 20%"><p>Suggestions
            </p>{{  rubricLine.suggestions }}</li>
            <li style="width: 19%"><p>Feedback
            </p>{{  rubricLine.feedback }}</li>
        </ul>

        </div>
        <div class="completionLevel">Completion Level &nbsp;<span class="scoreBubble">{{ rubricLine.completionLevel }}</span></div>
    {% endfor %}
    <h2>General Feedback</h2>

    <div class="evalField">
        <ul>
            <li>{{ evalFinalForm.generalFeedback }}</li>
        </ul>
    </div>

    <p></p>
    <h3>Completed?</h3>
    <p>
        {% if evalFinalForm.challengeCompletionLevel > 49 %}
        Yes
        {% else %}
        No
        {% endif %}
    </p>



<p><a href="/media/{{ usersolution.file }}">{{ usersolution.file }}</a> </p>

{% endblock %}
