{% extends "base.html" %}

{% block title %}
{{ usersolution.userowner }}
{% endblock %}

{% block content %}

    <h1>{{ usersolution.challengeName }}</h1>
<p>Submitted by {{ usersolution.userOwner }}</p>
    {{ userRole }}
    {% if userRole is not 1 %}
        <a href="/solutionEval/{{ usersolution.id }}">Edit</a>
    {% endif %}
    {% for rubricLine in evaluation %}

        <div class="evalField">
        <h3>{{ rubricLine.learningObjective }}</h3>
        <div class="evalFieldFlexContainer">
            <div class="evalFieldFlexBox"><h4>Evidence Present
            </h4><p>{{  rubricLine.evidencePresent }}</p></div>
            <div class="evalFieldFlexBox"><h4>Evidence Missing
            </h4><p>{{  rubricLine.evidenceMissing }}</p></div>
            <div class="evalFieldFlexBox"><h4>Suggestions
            </h4>{{  rubricLine.suggestions }}</div>
            <div class="evalFieldFlexBox"><h4>Feedback
            </h4><p>{{  rubricLine.feedback }}</p></div>
        </div>

        </div>
        <!-- <div class="completionLevel">Completion Level &nbsp;<span class="scoreBubble">{{ rubricLine.completionLevel }}</span></div> -->
    {% endfor %}
    <h2>General Feedback</h2>

    <div class="evalFieldFlexContainer">
        <div class="evalFieldFlexBox">
            <p>{{ evalFinalForm.generalFeedback }}</p>
        </div>
    </div>

    <p></p>
    <!--
    <h3>Completed?</h3>
    <p>
        {% if evalFinalForm.challengeCompletionLevel > 49 %}
        Yes
        {% else %}
        No
        {% endif %}
    </p> -->



<p><a href="/media/{{ usersolution.file }}">{{ usersolution.file }}</a> </p>

{% endblock %}
