{% extends "base.html" %}
{% load solution_filters %}

{% block title %}Woodrow Wilson Academy{% endblock %}

{% block content %}
<h1>Challenges</h1>

{% for challenge in challenges %}

<div class="challengeListEntry">
    <div class="challengeSubEntry">{% if challenge.challenge_set.first.picture %}<img src="{{ challenge.challenge_set.first.picture.url }}" height="60px">{% endif %}</div>
    <div class="challengeSubEntry">
        <h2>
            <a href="challengeCover/{{ challenge.challenge_set.first.id }}">
                {% if challenge.megaChallenge %}
                    {{ challenge.megaChallenge.name }}
                {% else %}
                    {{ challenge.name }}
                {% endif %}
            </a>

        </h2>
        <ul class="challengeListObj">

        {% for challenge in challenge.challenge_set.all %}

            {% for learningObjective in challenge.learningObjs.all %}

                <li class="challengeListObj" id="{{ challenge }}{{ learningObjective.id }}">{{ learningObjective.compGroup }}-{{ learningObjective.compNumber }}.
                                {{ learningObjective.loNumber }}</li>

            {% endfor %}
        {% endfor %}
        </ul>
    </div>
</div>

{% endfor %}
<script  type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">


</script>
{% endblock content %}