{% extends "base.html" %}


{% block title %}Woodrow Wilson Academy{% endblock %}

{% block content %}
<h1>Challenges</h1>

{% for challenge in challenges %}
<h2>
    <a href="challenge/{{ challenge.id }}">
        {{ challenge.name }}
    </a>
    </h2>
    <ul class="challengeListObj">
        {% for learningObjective in challenge.learningObjs.all %}
            <li class="challengeListObj">{{ learningObjective.compGroup }}-{{ learningObjective.compNumber }}.
                {{ learningObjective.loNumber }}</li>
        {% endfor %}
    </ul>

{% endfor %}

{% endblock content %}