{% extends 'base.html' %}

{% block title %}
Evaluate a Challenge
{% endblock %}

{% block content %}

<h1>{{ challenge }} - {{ student.userOwner.first_name }} {{ student.userOwner.last_name }}</h1>

    <h2>Evaluate {{ student.userOwner.first_name }}'s solution</h2>

    <form action=""  method="post">

        <div class="rubricField">
        {{ formset.management_form }}
        {% for form in formset %}

            <h3>{{ form.learningObjective }}</h3>
            <p>{{ form.student }}</p>

            <ul>
                {% if userRole == 4 or 2 %}
                    <li><label>{{ form.evidenceMissing.label }}</label>
                        {{ form.evidencePresent }}</li>

                    <li><label>{{ form.evidencePresent.label }}</label>
                        {{ form.evidenceMissing }}</li>
                {% endif %}

                <li><label>{{ form.feedback.label }}</label>
                    {{ form.feedback }}</li>

                <li><label>{{ form.suggestions.label }}</label>
                    {{ form.suggestions }}</li>


            </ul>

            <p><label>Ready to move on</label>
                {{ form.completionLevel }}</p>

            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="0" class="slider" id="slider{{ form.learningObjective.value }}">
            <div class="readyTick"></div>
            </div>
            <p></p>
            <script>
                var slider{{ form.learningObjective.value }} = document.getElementById("slider{{ form.learningObjective.value }}");
                var output{{ form.learningObjective.value }} = document.getElementById("{{ form.completionLevel.auto_id }}");
                slider{{ form.learningObjective.value }}.value = output{{ form.learningObjective.value }}.value;

                slider{{ form.learningObjective.value }}.oninput = function()
                {
                    output{{ form.learningObjective.value }}.value = this.value;
                }
            </script>
        {{ form.id }}
        {% endfor %}

        </div>

        {% csrf_token %}


        <p><input type="submit" value="Submit evaluation"></p>
    </form>

    <div class="vertSliderContainer">
    <h3>Ready?</h3>
        <input type="range" min="1" max="sliderMax" value="0" class="vertSlider" id="challengeSlider">
        <p id="sliderValues">Val</p>

        <p id="sliderTotal"></p>
    <script>
        var sliderFields = document.getElementsByClassName("slider");
        var sliderTotals = 0;
        var sliderMax = 0;

        for(var i = 0; i < sliderFields.length; i++)
        {
            sliderMax += parseInt(sliderFields[i].value);
        }
        document.getElementById("sliderTotal").innerHTML = sliderMax;

        sliderFields.oninput = function()
        {
            document.getElementById("challengeSlider").value = this.value;
        }
    </script>


    </div>

{% endblock %}