{% extends "base.html" %}
{% load solution_filters %}


{% block title %}Woodrow Wilson Academy{% endblock %}

{% block content %}
<h1>Baby God Mode</h1>

{% if request.user.profile.role == 4 %}

    <form action=""  method="get" class="searchForm">

        <div>{{ filter.form.userOwner.label}} {{ filter.form.userOwner}} </div>
         <div>{{ filter.form.challengeName.label}} {{ filter.form.challengeName}} </div>
         <div>{{ filter.form.solutionInstance.label}} {{ filter.form.solutionInstance}} </div>
        <div>{{ filter.form.coachReview__release.label}} {{ filter.form.coachReview__release}} </div>
        <div>{{ filter.form.evaluated__whoEvaluated.label}} {{ filter.form.evaluated__whoEvaluated}} </div>
            <input type="submit" value="Filter" >
        </form>

<div class="compFlexContainer">


    {% for userSolution in filter.qs %}
        <div class="competencyPod">
                <h3>{{ userSolution.userOwner.last_name }} - {{ userSolution.challengeName }}</h3>
                {% if request.user.profile.role == 4 %}
                    <form action="/hijack/{{ userSolution.userOwner.id }}/" method="post">
                    {% csrf_token %}
                    <button type="submit" class="hijackBtn">Assume id: {{ userSolution.userOwner.username }}</button>
                    </form>


                {% endif %}
                 <h4>{{ userSolution.solutionInstance.name }} - <a href="solutions/{{ userSolution.id }}">Solution</a></h4>

                <p><a href="evals/{{ userSolution.id }}">Evaluation</a> | <a href="coachingreview/{{ userSolution.id }}">Coach Review</a></p>

                <p>Status:<br>

                    {% if userSolution.coachReview.first.release %}
                        Released to TC
                    {% else %}
                        Not Released
                    {% endif %}

                </p>
        </div>
    {% endfor %}


</div>
{% endif %}
{% endblock content %}