{% extends "base.html" %}

{% block title %}
{{ usersolution.userowner }}
{% endblock %}

{% block content %}

    <h1>{{ usersolution.challengeName }}</h1>
<p>Submitted by {{ usersolution.userOwner.first_name }} {{ usersolution.userOwner.last_name }}</p>
   <a href="{{ usersolution.solution|safe }}">{{ usersolution.solution|safe }}</a>

<!-- <p><a href="/media/{{ usersolution.file }}">{{ usersolution.file }}</a> </p> -->

                <a href="/solutionEval/{{ usersolution.id }}">Evaluations</a>

{% endblock %}