{% extends "base.html" %}
{% load solution_filters %}

{% block title %}Woodrow Wilson Academy{% endblock %}

{% block content %}
<h1>{{ challenge.name }} - Solutions</h1>
    <div class="expoWrapper">
<div class="sub-container">
{% for solution in solutions %}

    <div class="solution-content-box">
        <h2 id="{{ solution.id }}">
        {% if request.user.profile.role != 0 %}
            {% if solution.specialized %}
                <a href="/tfjsolution/{{ solution.id }}">
                {{ solution.name }}
                </a>
            {% else %}
                <a href="/challenge/{{ solution.id }}">
                {{ solution.name }}
                </a>
            {% endif %}
            {% else %}
            {{ solution.name }}
            <span class="visitorNote">| Solution Upload Disabled</span>
        {% endif %}
        </h2>
        <ul class="challengeListObj">
        {% for learningObjective in solution.learningObjectives.all %}
            <li class="challengeListObj"><strong>{{ learningObjective.compGroup }}-{{ learningObjective.compNumber }}
                        .{{ learningObjective.loNumber }}</strong>
                    {{ learningObjective.name }}
            <button onclick="hideShow('critList{{ learningObjective.id }}')" class="lilButton">Criteria</button>

                <ul id="critList{{ learningObjective.id }}" class="critList">
            {% for crit in learningObjective.return_all_criterion %}
                <li>{{ crit }}</li>
                {% endfor %}
                </ul>
                </li>
        {% endfor %}
        </ul>
            <h3>Solution Bounds</h3>

            <h4>Degree of Implementation</h4>
            <div class="circleField-container">

                    {% for degree in solution.degreeImplementation %}


                            <div class="circleField">

                                {% if solution|get_obj_attr:degree.name %}
                                    <p>&#x25CD;
                                    </p>
                                {% else %}
                                    <p>&#9676;
                                    </p>
                                {% endif %}
                                <p>{{ degree.verbose_name }}</p>
                            </div>

                    {% endfor %}

            </div>

            <h4>Scale of Implementation</h4>
            <div class="circleField-container">

                {% for scale in solution.scaleImplementation %}
                    <div class="circleField">
                        {% if solution|get_obj_attr:scale.name %}
                            <p>&#x25CD;
                            </p>
                        {% else %}
                            <p>&#9676;
                            </p>
                        {% endif %}
                        <p>{{ scale.verbose_name }}</p>
                    </div>
                {% endfor %}
            </div>

            <h4>Type of Implementation</h4>
            <div class="circleField-container">
                {% for type in solution.typeImplementation %}
                    <div class="circleField">
                        {% if solution|get_obj_attr:type.name %}
                            <p>&#x25CD;</p>
                        {% else %}
                            <p>&#9676;</p>
                        {% endif %}
                        <p>{{ type.verbose_name }}</p>
                    </div>
                {% endfor %}
            </div>
        <hr>
        <h4>Solution Prompt</h4>
        <p>{{ solution.prompt|safe }}</p>
    {% if request.user.profile.role != 0 %}<input type="button" onclick='window.location.href="/challenge/{{ solution.id }}";' value="Submit a Solution">{% endif %}
        </div>


{% endfor %}



{% for portfolio in portfolios %}

    <div class="solution-content-box">
        <h2 id="{{ portfolio.id }}">
            {% if request.user.profile.role != 0 %}
                <a href="/portfolioUpload/{{ portfolio.id }}">
                {{ portfolio.name }}
                </a>
            {% else %}
                {{ portfolio.name }}
            {% endif %}

        </h2>
        <ul class="challengeListObj">
        {% for learningObjective in portfolio.learningObjectives.all %}
            <li class="challengeListObj"><strong>{{ learningObjective.compGroup }}-{{ learningObjective.compNumber }}
                        .{{ learningObjective.loNumber }}</strong>
                    {{ learningObjective.name }}</li>
        {% endfor %}
        </ul>
            <h3>Solution Bounds</h3>

            <h4>Degree of Implementation</h4>
            <div class="circleField-container">

                    {% for degree in portfolio.degreeImplementation %}


                            <div class="circleField">

                                {% if portfolio|get_obj_attr:degree.name %}
                                    <p>&#x25CD;
                                    </p>
                                {% else %}
                                    <p>&#9676;
                                    </p>
                                {% endif %}
                                <p>{{ degree.verbose_name }}</p>
                            </div>

                    {% endfor %}

            </div>

            <h4>Scale of Implementation</h4>
            <div class="circleField-container">

                {% for scale in portfolio.scaleImplementation %}
                    <div class="circleField">
                        {% if portfolio|get_obj_attr:scale.name %}
                            <p>&#x25CD;
                            </p>
                        {% else %}
                            <p>&#9676;
                            </p>
                        {% endif %}
                        <p>{{ scale.verbose_name }}</p>
                    </div>
                {% endfor %}
            </div>

            <h4>Type of Implementation</h4>
            <div class="circleField-container">
                {% for type in portfolio.typeImplementation %}
                    <div class="circleField">
                        {% if portfolio|get_obj_attr:type.name %}
                            <p>&#x25CD;</p>
                        {% else %}
                            <p>&#9676;</p>
                        {% endif %}
                        <p>{{ type.verbose_name }}</p>
                    </div>
                {% endfor %}
            </div>
        <hr>
        <h4>Solution Prompt</h4>
        <p>{{ portfolio.prompt|safe }}</p>
    {% if request.user.profile.role != 0 %}
    <input type="button" onclick='window.location.href="/portfolioUpload/{{ portfolio.id }}";' value="Submit a Solution">
    {% endif %}
        </div>


{% endfor %}

<script>
        function hideShow(id) {
          var x = document.getElementById(id);
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }
        function hideAll(elemClass) {
            var x = document.getElementsByClassName(elemClass);
            for (var i =0; i<x.length; i++){
                x[i].style.display = "none";
            }
        }
        document.onLoad = hideAll("critList")

    </script>
</div>

<div class="solutionNav">
<h3>Jump to Section</h3>
<ul>
    {% for solution in solutions %}

            <li><a href="#{{ solution.id }}"> {{ solution.name }}</a></li>

    {% endfor %}
{% for portfolio in portfolios %}

            <li><a href="#{{ portfolio.id }}"> {{ portfolio.name }}</a></li>

    {% endfor %}
</ul>
</div>


</div>
{% endblock content %}
