{% extends "base.html" %}


{% block title %}Woodrow Wilson Academy{% endblock %}

{% block content %}
<h1>{{ megachallenge.name }} Challenge Parts</h1>

{% for challenge in challenges %}
<h2>
    {% for learningExpo in learningExpos %}
        {% if learningExpo.challenge == challenge %}
            <a href="/learningExperience/{{ learningExpo.id }}">
        {% endif %}
    {% endfor %}


            {{ challenge.name }}

    </a>
    </h2> <div>
    <form action="" method="post" enctype="multipart/form-data">
    {{ challengeStatusForm.management_form }}

         {% for form in challengeStatusForm %}

            {% if form.challenge.value == challenge.id %}
                <p>Ready to start?</p>
                {{ form.challengeAccepted }}
                {{ form.user }}{{ form.challenge }}
                {{ form.id }}
            {% endif %}
        {% endfor %}
    {% csrf_token %}
    </form>
    <ul class="challengeListObj">
        {% for learningObjective in challenge.learningObjs.all %}
            <li class="challengeListObj">{{ learningObjective.compGroup }}-{{ learningObjective.compNumber }}.
                {{ learningObjective.loNumber }}</li>
        {% endfor %}
    </ul>

{% endfor %}
</div>
{% endblock content %}