{% extends "base.html" %}

{% block title %}
{{ challenge.name }}
{% endblock %}

{% block content %}

<h1>{{ solutionInstance }}</h1>
    <p>
        <input type="button" onclick='window.location.href="/learningExperience/{{ previous }}";' value="Previous">
    </p>
    <br/>

<div>
        <h2>Solution</h2>

        <form action="" method="post" enctype="multipart/form-data">
                {{ form.management_form }}
        <div class="tfjSolutionForm">
            <p>Learning Objective chosen by coach:<br>
            <span style="font-weight: bold">{{ solutionInstance.learningObjectives.first }}</span></p>
            <label>Choose 1 additional learning objective you will be addressing with this solution</label>
            {{formset.tcLO}}
            {{ formset.coachLO }}
            <label>Paste a link to your solution or enter it directly into the solution box.</label>
            {{ formset.solution }}

            {{ formset.user }}{{ formset.solutionInstance }}
        </div>

            <input type="submit" value="Upload Solution">
        {% csrf_token %}

        </form>

</div>

    <div class="previousExamples">
    <h2>Previous Work</h2>
    <p>{{ previousWork.count }}</p>
    {% for object in previousWork %}
        {{ object }}
    {% endfor %}
    </div>

{% endblock %}