{% extends "base.html" %}
{% load solution_filters %}
{% block title %}
{{ challenge.name }}
{% endblock %}

{% block content %}

<h1>{{ solutionInstance }}</h1>
    <p>
        <input type="button" onclick='window.location.href="/learningExperience/{{ previous }}";' value="Previous">
    </p>
    <br/>

<div>
        <h2>Solution</h2>

        <form action="" method="post" enctype="multipart/form-data">
                {{ form.management_form }}
        <div class="tfjSolutionForm">
            <p>Learning Objective chosen by coach:<br>
            <span style="font-weight: bold">{{ solutionInstance.learningObjectives.first }}</span></p>
            <label>Choose 1 additional learning objective you will be addressing with this solution</label>
            {{formset.tcLO}}
            {{ formset.coachLO }}
            <label>Paste a link to your solution or enter it directly into the solution box.</label>
            {{ formset.solution }}

            {{ formset.user }}{{ formset.solutionInstance }}
        </div>

            <input type="submit" value="Upload Solution">
        {% csrf_token %}

        </form>

</div>

    <div class="previousExamples">
    <h2>Previous Work</h2>
    {% for object in previousWork %}
        <div class="previousExamplesEntry">
            <h4>{{ object.learningObjective }}</h4>
            <label>Why did you pick this TFJ learning objective?</label>
            <p>{{ object.question1 }}</p>
            <label>How does TFJ intersect with this challenge and your solutions?</label>
            <p>{{ object.question2 }}></p>
            <label>How do you interpret this learning objective?</label>
            <p>{{ object.question3 }}</p>
            <label>What resources did you use to grow in this area?</label>
            <p>{{ object.question4 }}</p>
            <label>How did this work move you forward in Teaching for Justice? What are your next steps for this competency?</label>
            <p>{{ object.question5 }}</p>
        </div>
    {% endfor %}
    </div>

{% endblock %}